@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
    font-family: 'Poppins', sans-serif;
}

body{
    min-height: 100vh;
    overflow-x: hidden;
}

.bg-custom{
    background-color: #ececec;
}

#sidebar{
    background-color: #245a22;
    height: 100vh;
    width: 82px;
    min-width: 82px;
    border-radius: 0 18px 18px 0;
    position: fixed;
    transition: .5s;
}

#sidebar.open-sidebar{
    width: 320px;
}

#sidebar.open-sidebar ~ main{
    margin-left: 320px;
    width: calc(100% - 320px);
}


#user_avatar{
    width: 50px;
    height: 50px;
    border-radius: 15px;
    object-fit: cover;
}

.side-item{
    border-radius: 8px;
    transition: .3s;
}

.side-item.active{
    background-color: #8a9e8a;
}

.side-item:hover{
    background-color: #8a9e8a;
}

.side-item .nav-link{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white !important;
}

.item-description{
    width: 0;
    overflow: hidden;
    white-space: nowrap;
    transition: .5s;
}

#sidebar.open-sidebar .item-description{
    width: 180px;
}

#sidebar.open-sidebar .nav-link{
    justify-content: flex-start;
}

#logout_btn{
    border: none;
    background: transparent;
    color: white;
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 12px;
    border-radius: 8px;
}

#logout_btn:hover{
    background-color: #8a9e8a;
}

#open_btn{
    position: absolute;
    top: 30px;
    right: -10px;
    width: 30px;
    height: 25px;
    border: none;
    border-radius: 50%;
    background-color: #5c725c;
    color: white;
}

#open_btn_icon{
    transition: .3s;
}

#sidebar.open-sidebar #open_btn_icon{
    transform: rotate(180deg);
}

main{
    margin-left: 82px;
    width: calc(100% - 82px);
    padding: 30px;
    background: #f5f6f8;
    min-height: 100vh;
    transition: .5s;
}

.dashboard-card{
    border: none;
    border-radius: 20px;
    box-shadow: 0 .125rem .5rem rgba(0,0,0,.08);
}

.dashboard-card .card-body{
    padding: 25px;
}

.card-icon{
    font-size: 40px;
    color: #198754;
    margin-bottom: 15px;
}

.card{
    border-radius: 20px !important;
}


.form-control,
.form-select{
    height: 48px;
    border-radius: 10px;
}

.input-group-text{
    background: white;
}

.btn-success{
    background: #198754;
    border: none;
}

.btn-success:hover{
    background: #157347;
}

.table th{
    color: #198754;
    font-weight: 600;
}

.badge{
    padding: 8px 15px;
    border-radius: 20px;
}

.table td,
.table th{
    vertical-align: middle;
}

.icon-circle{
    width: 72px;
    height: 72px;
    border-radius: 50%;
    background: #e7f7e7;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.icon-circle i{
    font-size: 32px;
    color: #198754;
}

.icon-circle.warning{
    background: #fff4d8;
}

.icon-circle.warning i{
    color: #e9a400;
}

.chart-container{
    position: relative;
    height: 300px;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

#graficoMes,
#graficoTipo{
    max-width: 100%;
    max-height: 260px;
}

.card-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.export-card{
    border-radius: 10px;
}

.export-btn{
    width: 95px;
}

.exportacao-card{
    display: flex;
    flex-direction: row !important;
    align-items: center;
    justify-content: flex-start;
    gap: 15px;
}

.page-link{
    color:  #148041;
    border-color: #148041;
}

.page-link:hover,
.page-item.active .page-link{
    background-color:  #148041;
    border-color:  #148041;
    color: white;
}

.select-verde {
    border: 2px solid #198754;
    color: #198754;
    font-weight: 500;
}

.modal-content{
    border-radius: 20px;
}

.modal-header{
    border-radius: 20px 20px 0 0;
}

.modal-footer{
    border-top: 1px solid #e9ecef;
}

.form-control,
.form-select{
    border-radius: 12px;
}

.form-control:focus,
.form-select:focus{
    border-color: #198754;
    box-shadow: 0 0 0 .2rem rgba(25,135,84,.15);
}

/* Botão apenas com ícone */
.btn-filtro{
    height: 46px;
    min-width: 95px;
    padding: 0 18px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;

    border-radius: 10px;
}

.btn-filtro i{
    font-size: 16px;
}

/* Botão Filtrar */
.btn-filtrar{
    height: 46px;
    min-width: 100px;
    padding: 0 22px;

    border-radius: 10px;

    font-weight: 600;
    font-size: .95rem;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}